<div class="field">
    <span class="p-float-label">
        <!-- Check if type is set to "date" -->
        <ng-container *ngIf="type === 'date'; else inputElement">
            <p-calendar
                [showIcon]="true"
                [inputStyle]="{padding: '1rem'}"
                
                [formControl]="control"
                [ngClass]="(control?.touched) ? control?.invalid ? 'is-invalid' : 'is-valid' : null"
            ></p-calendar>
        </ng-container>
        <ng-template #inputElement>
            <input 
            pInputText
            type="{{type}}"
            [formControl]="control"
            class="w-full md:w-30rem mb-2"
            style="padding:1rem"
            [ngClass]="(control?.touched) ? control?.invalid ? 'is-invalid' : 'is-valid' : null"
        >
        </ng-template>
        <label for="{{type}}" class="">{{label}}</label>
    </span>
    <div *ngIf="control?.errors?.['required']" class="invalid-feedback ml-3" style="color: red; font-size: small;">Please enter your {{label}}.</div>
    <div *ngIf="control?.errors?.['email']" class="invalid-feedback ml-3"  style="color: red; font-size: small;">Invalid email address.</div>
    <div *ngIf="control?.errors?.['minlength']" class="invalid-feedback ml-3"  style="color: red; font-size: small;">Minimum length is {{control?.errors?.['minlength'].requiredLength}} characters.</div>
</div>