
<div class="container">
    <div class="navbar text-center shadow-2" [style]="{height: '100px'}">
      <div class="center pt-5">
        <p-button routerLink="/signup" label="Sign up" icon="pi pi-user" class="mr-3" [text]="true" [raised]="true" severity="success"></p-button>
        
        <p-button routerLink="/login" label="Sign in" icon="pi pi-lock" [text]="true" [raised]="true" severity="help"></p-button>
      
    
      </div>
    </div>
    <div class="content pt-3 text-center ">
      <h2>Welcome to Our Website</h2>
      <p>Explore our services and features below:</p>
      <div class="cards flex justify-content-center align-items-center flex-row pt-3 ">
        <p-card  [style]="{width: '300px'}">
          <i class="pi pi-user-edit  "></i>
          <p>Card 1 description goes here.</p>
        </p-card>
        <p-card  [style]="{width: '300px'}">
          <i class="pi pi-home  "></i>
          <p>Card 2 description goes here.</p>
        </p-card>
        <p-card [style]="{width: '300px'}">
          <i class="pi pi-bell  "></i>
          <p>Card 3 description goes here.</p>
        </p-card>
      </div>
      <br>
      <p-button label="Get Started" [rounded]="true" severity="success"> </p-button>

      <div class="timeline mt-4">
        <div class="card">
          <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
              <ng-template pTemplate="marker" let-event>
                  <span class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 custom-marker shadow-2"[style.backgroundColor]="event.color" >
                      <i [ngClass]="event.icon"></i>
                  </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                  <p-card [header]="event.title" [subheader]="event.date">
                      <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                          neque quas!
                      </p>
                      <button pButton label="Read more" class="p-button-text"></button>
                  </p-card>
              </ng-template>
          </p-timeline>
      </div>
       
      </div>

    </div>
   
  </div>
  