
<div class="container">
 
    <div class="content pt-3 text-center ">
      <h2>Welcome to Our Website</h2>
      <p>Explore our services and features below:</p>
      <div class="cards flex justify-content-center align-items-center flex-row pt-2">
        <p-card  [style]="{width: '300px'}" class="shadow-3">
          <i class="pi pi-user-edit  "></i>
          <h3>Create an account </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus beatae quia similique. Ut, aut. Temporibus tempora architecto nam id soluta molestias aspernatur fugiat earum doloribus maiores, rerum explicabo error..</p>
        </p-card>
        <p-card  [style]="{width: '300px'}" class="shadow-5 ">
          <i class="pi pi-home  "></i>
          <h3>Organize your lists and tasks </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nostrum atque, quo quod, dignissimos doloribus odio iste minus eaque eum excepturi harum assumenda quas reiciendis ducimus. Autem, corporis. Corrupti, iusto..</p>
        </p-card>
        <p-card [style]="{width: '300px'}" class="shadow-2">
          <i class="pi pi-bell  "></i>
          <h3>Solve your daily activities</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quo suscipit, nam molestiae placeat corrupti praesentium maxime, error eum perferendis magni, saepe hic est. Laudantium quia similique consectetur voluptatem error..</p>
        </p-card>
      </div>
      <br>
      <p-button label="Get Started" [rounded]="true" severity="success" routerLink="/signup"></p-button>
      <div class="timeline mt-4">
        <div class="card">
          <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
              <ng-template pTemplate="marker" let-event>
                  <span class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 custom-marker shadow-2"[style.backgroundColor]="event.color" >
                      <i [ngClass]="event.icon"></i>
                  </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                  <p-card [header]="event.title" [subheader]="event.date">
                      <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                          neque quas!
                      </p>
                      <br>
                      <p-button label="view more  " [text]="true" severity="secondary"></p-button>
                      
                  </p-card>
              </ng-template>
          </p-timeline>
      </div>
       
      </div>

    </div>
   
  </div>
  