<div class="container">
<div class="surface-ground flex align-items-center justify-content-center ">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <p-toast></p-toast>
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="text-center mb-5">
                    <i class="pi pi-users" style="font-size: 5rem"></i>
                    <div class="text-900 text-3xl font-medium mb-3">Welcome back!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div>
                    
                        
                        <app-text-input [formControl]="loginForm.controls['username']" [label]="'Username'"> </app-text-input>
                        <!-- <input pInputText id="username" type="text"  class="w-full md:w-30rem mb-5 is-invalid" style="padding:1rem" formControlName="username" /> -->
                        
                        <app-text-input [formControl]="loginForm.controls['password']" [label]="'Password'"  [type]="'password'"> </app-text-input>
                    <!-- <input pInputText id="password" type="password" class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="password" /> -->

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        
                       
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl p-button-outlined p-button-help" type="submit" [disabled]="loginForm.invalid"></button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</div>
